[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
