[color]
  ui = auto
[core]
  excludesfile = ~/dotfiles/.gitignore_global
  editor = vim
  quotepath = false
[push]
	default = simple
[alias]
  s  = status
  ci = commit
  co = checkout
  b  = branch
  l  = log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  a  = add -p
  pl = pull
  ps = push
  d  = diff
  dc = diff --cached
  g  = grep -n
[github]
	user = shuhei
[diff]
  compactionHeuristic = true
[diff "office"]
  textconv = ~/dotfiles/bin/tika
